<!DOCTYPE html>
<html>
<head>
  <title>Entrada de datos de canciones</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <center><h1>Ingrese los datos de una canción</h1></center>  
  <form action="/add-song" method="post">
    <label>Título:</label>
    <input type="text" name="title" required><br>
    <label>Artista:</label>
    <input type="text" name="artist" required><br>
    <label>Género:</label>
    <input type="text" name="genre" required><br>
    <button type="submit">Guardar canción</button>
  </form>
</body>
</html>
